.header__area {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: var(--bg-primary);
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 30px;
    color: var(--text-primary);
  }

  .at-max(600px, {
    flex-direction: column;
    height: auto;
    margin-bottom: 30px;
  });
}
